<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.eric.self.photolibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.ScanActivity">

        </activity>
        <activity
            android:name=".ui.PicViewActivity"
            android:theme="@style/pic_view">

        </activity>
    </application>

</manifest>
